.backgrnd-img img{
	width: 100vw;
}

header {
	top: 0;
	left: 0;
  right: 0;
  height: 14vh;
	position: absolute;
}

.header-backgrnd {
	background-color: rgba(255, 255, 255, 0.5);
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 80%;
	margin: 0 auto;
	padding: 1vh 0;
}

.logo {
	width: 5vw;
}

.logo img {
	width: 50px;
}

.nav__menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-width: 55vw;
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 2rem;
  border-bottom: 1px solid #000000;
}
.nav__menu a {
	color: #000000;
}
/* main {
	background-color: thistle;
} */

.container {
	max-width: 80%;
	margin: 0 auto;
	/* background-color: darkkhaki; */
}

.suggest-scope {
	position: absolute;
	top: 10vh;
	left: 30vh;
	height: 40vw;
	max-width: 30%;
	display: flex;
	align-items: center;
}
.suggest-logo img {
	width: 80%;
}
.suggest-icons {
	display: flex;
	margin-left: -0.5vh;
	padding: 1vh 0;
}
.suggest-icons img {
	padding: 0.5vh;
}

.button-transparent {
	width: 170px;
	height: 50px;
	border: 1px solid #3C3B4A;
}

.about_company-with_stamp {
	display: flex;
	justify-content: space-evenly;
}
.company-column {
	max-width: 30vw;
}
.company-column__descr-text {
	max-width: 26vw;
	margin: 10% auto;
	padding: 3vh;
	background-color: #EBCFCC;
	text-align: center;
}
.company-column__text-title {
	padding: 0 0 1vh;
}
.company-column__text {
	font-size: 18px;
  line-height: 22px;
	min-height: 70vmin;
}
.company-column__acuarel img{
	max-width: 60%;
	margin: 8% 16%;
}
.stamp-column {
	max-width: 30vw;
}
.stamp-column__title img {
	display: block;
	margin: 0 auto;
	padding: 20% 0 10%;
}
.stamp-column__kabinet img {
	max-width: 100%;
}

.stamp-column__stamp {
	display: flex;
	justify-content: flex-end;
}
.stamp-column__stamp img {
	margin-top: -190px;
	margin-right: -178px;
}

.button-black__scope {
	margin-left: -10vw;
}
.button-black {
	width: calc(100px + 20vw);
	height: calc(30px + 2vw);
	color: white;
	background: #3C3B4A;
	border: none;
}

.our-excellence__flex-string {
	display: flex;
	flex-direction: column-reverse;
}
.our-excellence__title {
	padding: 8vmin 0 6vmin;
	text-align: center;
}
.our-excellence__photo-text,
.our-excellence__text-scope,
.our-excellence__next-lvl,
.our-excellence__right-col {
	display: flex;
}
.our-excellence__girl-photo,
.our-excellence__text-scope,
.our-excellence__left-col,
.our-excellence__right-col {
	max-width: 50vw;
	min-width: 50vw;
}
.our-excellence__girl-photo img {
	max-width: 100%;
}
.our-excellence__text {
	align-self: center;
	padding: 6vmin 20vmin 6vmin 6vmin;
}
.our-excellence__text h3 {
	padding-bottom: 2vh;
}
.our-excellence__switcher {
	width: 25%;
	font-size: 96px;
  line-height: 120px;
  display: flex;
  align-items: center;
	margin-left: auto;
	padding-left: 4%;
  color: #3C3B4A;
	border-left: 3px solid #EBCFCC;
}
.our-excellence__right-col img {
	max-width: 60%;
	margin-left: auto;
	margin-top: -120px;
	padding: 0;
}

.our-excellence__text-scope {
	background-color: transparent;
}
.our-excellence__next-lvl {
	background-color: transparent;
}


.main-activity__scoupe__bkgrnd img {
  width: 100vw;
}

.main-activity__pic-scoupe__title img {
  width: 10vw;
}

.main-activity__scope .container {
	margin-top: -1780px;
}

.main-activity__pic-scoupe {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 3% auto;
	min-width: 96%;
	height: 50vh;
	padding-top: 40px;
	border: 2px solid navy;
	background-color: rgba(76, 122, 168, .4);
	z-index: 5;
}
.main-activity__pic-scoupe__title {
	text-align: center;
}
.main-activity__pic-area {
	justify-self: center;
	flex-basis: 22%;
	min-width: 20%;
	margin: 1%;
	padding: 2%;
	border: 2px solid mintcream;
	background-color: steelblue;
}
.main-activity__pic-tab {
	width: auto;
}
.main-activity__pic-star {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 4vw;
	height: 4vw;
  margin-top: -20%;
}
.main-activity__pic-star p {
	font-size: 1.6rem;
	font-weight: 900;
	color: #FFFFFF;
}


.main-activity__rules div img {
	width: 2vw;

}



.white-space__with-crystal {
	width: 4vw;
	height: 24vw;
	padding-top: 600px;
}

.white-space__with-crystal img {
	width: 4vw;

}


